<h2>トップページ</h2>
<div class="justify-content-between d-flex">
  <div class="col-md-8">
    <h4>最近の投稿</h4>
    <% @posts.each do |post| %>
      <div class="card" style="margin: 20px auto">
        <div class="card-header text-start">
          <%= link_to "#{post.user.name}さん", posts_path %>
        </div>
        <div class="card-body d-flex text-start">
          <div class="col-md-4">
            <%= "#{Post.human_attribute_name(:title)}：" %><br>
            <%= "#{Post.human_attribute_name(:url)}：" %><br>
            <%= "#{Post.human_attribute_name(:language)}：" %><br>
            <%= "#{Post.human_attribute_name(:content)}：" %><br>
            <%= "#{Post.human_attribute_name(:comment)}：" %>
          </div>
          <div class="col-md-8">
            <%= post.title %><br>
            <%= post.url %><br>
            <%= post.language.text %><br>
            <%= link_to 'こちらで確認', post_path(post.id) %><br>
            <%= post.comment[0..100] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <h4>投稿数ランキング</h4>
    <% @users.each_with_index do |user,i| %>
      <div class="card" style="margin: 20px auto">
        <div class="card-header text-center">
          第<%= i+1 %>位
        </div>
        <div class="card-body d-flex text-start">
          <div class="col-md-9">
            <%= link_to user.name, posts_path %>
          </div>
          <div class="col-md-3">
            <%= user.posts.count %>投稿
          </div>
        </div>
      </div>
    <% end %>
    <h4>使用言語比率</h4>
    <%= pie_chart @chart %>
  </div>
</div>