<!DOCTYPE html>
<html>
  <head>
    <title>CoderApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="nav-sub">
          <%= link_to 'こーだーあっぷ', root_path, class: 'navbar-brand' %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to '投稿一覧', root_path, class: 'nav-link' %>
              </li>
              <% if logged_in? %>
                <li class="nav-item">
                  <%= link_to '新規投稿', root_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'マイページ', root_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'ログイン/新規登録', login_path, class: 'nav-link' %>
                </li>
              <% end %>
              <!-- ↓ドロップダウン式メニュー -->
              <%# <li class="nav-item dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li> %>
            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-left: auto">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if flash[:success].present? %>
        <div style="color: #99E300"><%= flash[:success] %></div>
      <% end %>
      <% if flash[:danger].present? %>
        <div style="color: red"><%= flash[:danger] %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
