<!DOCTYPE html>
<html>
  <head>
    <title>CoderApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <% if flash[:success].present? %>
      <div style="color: #99E300"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:danger].present? %>
      <div style="color: red"><%= flash[:danger] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
